<h1>Productos RealTime</h1>

 <div class="formulario">
            <div class="form">
                <div class="formInputs ">

                    <label for="title">Usuario</label>
                    <input type="text" id="user" >

                    <label for="code">Contraseña</label>
                    <input type="password" id="code" >

                    <div> <button id="button">Agregar</button></div>
                </div>
                   
                </div>



            </div>
    </div>

     <h1>Info</h1>
<div class="productsContainer" id="productsContainer">

</div>



<script src="/socket.io/socket.io.js"></script>
<script src="/js/login.js"></script>